# Maven build directory
/target

# Maven Wrapper files
.mvn/wrapper/maven-wrapper.jar
!/.mvn/wrapper/maven-wrapper.properties

# Compiled class files
*.class

# Log files
*.log

# Windows OS-specific files
Thumbs.db
Desktop.ini

# macOS-specific files
.DS_Store

# Linux-specific file
*~

# IntelliJ IDEA files
.idea/
*.iml
*.iws

# Eclipse files
.project
.classpath
.settings/
*.prefs

# VS Code files
.vscode/

# Other IDEs
*.swp

# Java binaries
*.jar
*.war
*.ear

# Package Files
*.zip
*.tar.gz
*.rar

# Java-specific settings
*.class
*.jre/
*.jdt/

# Temporary files
*.tmp
*.bak
*.old
*.orig
*.rej

# Output files
*.out
*.log
